

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eefffe;
}


/*HEADER*/

.navbar-expand-lg{
    background-color: #18a59e;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.siteLogo{
    width: 9rem;
    height: auto;
}

.navbar-brand {
    font-size: 1.2rem;
    margin-left: 1rem;
}


/*MAIN*/
/*INDEX*/

.mainIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainIndex__title{
    font-size: 7rem;
    margin: 10vh 0 0 0;
    display: flex;
    justify-content: center;
    color: #0db4ac;
}

.mainIndex__subtitle{
    font-size: 3.8rem;
    font-weight: 300;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    color: #0db4ac;
}

.mainIndex__paragraph{
    color: rgb(143, 142, 142);
    font-size: 2vh;
    margin: 4vh 0 4vh 0;
    width: 60vw;
    text-align: center;
}

.mainIndex__iframeScale {
    margin: 10vh 0 20vh 0;
}

.mainIndex__iframe{
    transform: scale(2)
}

h5 {
    font-size: 1.7rem;
}


/*DISEÑADORES*/

.mainDiseñadores__title{
    margin-top: 10vh;
    font-size: 4rem;
    color: #0db4ac;
}

.mainDiseñadores__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 0 6vh 0;
}

.album{
    background-color: #c7fffc7a;
}

.mainDiseñadores__description{
    font-size: 1.8vh;
    margin: 1.5vh 0 3vh 0;
    text-align: center;
    color: #5c5c5c;
}

.disenadores-albumContainer{
    margin: 0 2rem 0 2rem;
}


/*DISEÑOS*/

.mainDiseños__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 0 0;
}

.mainDiseños__title{
    font-size: 3rem;
    margin: 0 0 2vh 0;
    color: #0db4ac;
}

.mainDiseños__paragraph{
    width: 50vw;
    font-size: 1.8vh;
    margin: 0 0 4vh 0;
    text-align: center;
}

.mainDiseños__cardTitle{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0 0 0;
}

.mainDiseños__cardName{
    font-size: 2rem;
}

.mainDiseños__cardText{
    font-size: 1.7rem;
    color: grey;
}

.mainDiseños__cardLink{
    font-weight: 600;
    color: #0db4ac;
    font-size: 1.7rem;
    border-bottom: solid 2px #0db4ac;
}


/*SOBRE NOSOTROS*/

.mainSobreNostros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSobreNostros__title{
    margin: 10vh 0 2vh 0;
    font-size: 4.5rem;
    color: #0db4ac;
}

.mainSobreNostros__paragraph{
    width: 60vw;
    font-size: 3.5rem;
    margin: 0 0 18vh 0;
    text-align: center;
    color: #747474;
    font-weight: 300;
}

.mainSobreNosotros__image{
    width: 70vw;
    height: auto;
}

.mainSobreNostros__videoTitle{
    font-size: 4rem;
    font-weight: 600;
    color: #707070;
    margin: 15vh 0 4vh 0;
}

.mainSobreNostros__video{
    padding-bottom: 7vh; 
}


/*CONTACTO*/

.mainContacto{
    align-items: center;
    margin: 8vh 27vw 0 27vw;
}

.mainContacto__title{
    font-size: 3rem;
    font-weight: 700;
    color: #0db4ac;
    text-align: center;
}

.mainContacto__paragraph{
    font-size: 1.5rem;
    margin: 0 0 3vh 0;
    text-align: center;
}


/*FOOTER*/

footer {
    margin: 20rem 0 5rem 0;
}

.footer__paragraph{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.footer__links {
    display: flex;
}

.footer__link{
    padding: 0.5vh 0.5vw 0 0.5vw;
    width: 3.7rem;
    height: auto;
    text-decoration: none;
}


/*MEDIA QUERIES*/

/*DESKTOP*/

@media screen and (max-width: 1200px){

    /*sobre nosotros*/

    .mainSobreNostros__paragraph{
        font-size: 2.8rem;
    }

}

/*TABLET*/

@media screen and (max-width: 768px){

    /*header*/

    a {
        font-size: 0.9rem;
    }

    /*index*/

    .mainIndex__title{
        font-size: 3rem;
    }

    .mainIndex__subtitle{
        font-size: 2.7rem;
    }

    .carouselTitle{
        font-size: 1rem;
        margin-bottom: 0;
    }

    .carouselLink{
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    /*diseñadores*/

    .mainDiseñadores__title{
        font-size: 2.8rem;
    }

    /*diseño*/

    .mainDiseños__cardTitle {
        font-size: 1.5rem;
    }

    .mainDiseños__cardName {
        font-size: 1.5rem;
    }

    .mainDiseños__cardText{
        font-size: 1rem;
    }

    .mainDiseños__cardLink{
        font-size: 1rem;
    }

    /*sobre nosotros*/

    .mainSobreNostros__title{
        font-size: 4rem;
    }

    .mainSobreNostros__paragraph{
        font-size: 2rem;
    }

    .mainSobreNostros__videoTitle{
        font-size: 3rem;
    }

    /*contacto*/

    .mainContacto__paragraph{
        font-size: 1.2rem;
    }

}

/*MOBILE*/

@media screen and (max-width: 480px){

    /*index*/

    .mainIndex__title{
        font-size: 2.8rem;
    }

    .mainIndex__subtitle{
        font-size: 2.1rem;
    }

    .mainIndex__paragraph{
        font-size: 1.2rem;
    }

    /*diseñadores*/

    .mainDiseñadores__title{
        font-size: 2.3rem;
    }


    /*diseños*/

    .mainDiseños__title{
        font-size: 2.3rem;
    }

    .mainDiseños__paragraph{
        margin-bottom: 0;
    }

    /*sobre nosotros*/

    .mainSobreNostros__title{
        font-size: 4rem;
    }

    .mainSobreNostros__paragraph{
        font-size: 1.5rem;
    }

    .mainSobreNostros__videoTitle{
        font-size: 2rem;
    }

    /*contacto*/

    .mainContacto{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .mainContacto__title{
        font-size: 2.3rem;
    }

    .mainContacto__paragraph{
        font-size: 1rem;
        margin-bottom: 3rem;
    }

}

